html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* 
 For debugging purpose
*/
.hidden {
    display: none;
}