<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dev-Terminal</title>
    <meta charset="UTF-8">
    <!-- Embedding the font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="fonts.googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>THIS IS HEADER</header>
        <main>
            THIS IS MAIn
        </main>
        <footer>
            <div class="typecommand">
                <input id="command-input" type="text" placeholder="Type a command">
                <button id="check-command">Check Commands</button>
            </div>
        </footer>
    </div>
</body>
</html>
